/* index style */
body{
    background-color: hsla(0, 0%, 14%, 1);
    color: hsla(62, 100%, 67%, 0.65);
}

.parent { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-column-gap: 1px;
    grid-row-gap: 1px; 
    }